<div class="flex flex-col sm:flex-row justify-between items-center bg-blue-600 text-white px-6 py-5 space-y-3 sm:space-y-0 sm:space-x-4">
    <div class="text-3xl flex justify-center items-center">
        <a href="/" class="flex items-center">
            File<span class="font-semibold">Storage</span>
        </a>
    </div>

    <div class="flex items-center gap-3">
        <% if (!locals.currentUser) { %>
            <a href="/log-in" class="text-sm sm:text-base">Log in</a>
            <a href="/sign-up" class="text-sm sm:text-base">Sign up</a>
        <% } else { %>
            <div class="flex items-center gap-3">
                <span class="text-sm sm:text-base">Hi @<%= locals.currentUser.username %>!</span>
                <span class="border-l h-5 sm:h-6 border-gray-400"></span>
                <a class="library text-sm sm:text-base" href="/">Home</a>
                <a class="library text-sm sm:text-base" href="/library">Library</a>
                <span class="border-l h-5 sm:h-6 border-gray-400"></span>
                <a class="log-out text-sm sm:text-base" href="/log-out">Log Out</a>
            </div>
        <% } %>
    </div>
</div>
