<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="content">
        Welcome to File Storage!
    </div>
</body>
</html>