<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
    <!-- Tailwind CSS -->
    <link href="/styles/tailwind-built.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="flex flex-col min-h-screen">
    <%- include('./partials/header.ejs') %>

    <!-- Hero Section -->
    <div class="content flex flex-col flex-1 items-center bg-gray-100 pt-16 pb-8 px-3">
        <div class="text-center max-w-2xl">
            <h1 class="text-4xl sm:text-5xl font-bold mb-6">Welcome to File Storage</h1>
            <p class="text-lg sm:text-xl mb-8">Your secure, reliable, and easy-to-use online file storage solution. Start organizing and accessing your files from anywhere in the world.</p>
            <a href="/library" class="inline-block bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-blue-800 transition duration-300">
                Get started
            </a>
        </div>
        <div class="features flex-1 text-slate-800 pt-8 px-4 sm:px-6 lg:px-8">
            <div class="container mx-auto text-center">
                <div class="grid gap-8 md:grid-cols-1 lg:grid-cols-3">
                    <!-- Feature 1 -->
                    <div class="feature bg-white shadow-md rounded-lg p-6">
                        <h3 class="text-2xl font-semibold mb-4">Secure</h3>
                        <p class="text-gray-700">Robust encryption to keep your files safe and secure from unauthorized access.</p>
                    </div>
                    <!-- Feature 2 -->
                    <div class="feature bg-white shadow-md rounded-lg p-6">
                        <h3 class="text-2xl font-semibold mb-4">Ready Access</h3>
                        <p class="text-gray-700">Sync your files in the cloud, ensuring access to your latest version across any device.</p>
                    </div>
                    <!-- Feature 3 -->
                    <div class="feature bg-white shadow-md rounded-lg p-6">
                        <h3 class="text-2xl font-semibold mb-4">Easy-to-Use</h3>
                        <p class="text-gray-700">User-friendly interface that makes organizing and accessing your files a breeze.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
